@import "tailwindcss";

/* hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

*,
body,
a,
button,
input,
select,
textarea {
    cursor: none !important;
}

body {
    background-color: black;
    color: white;
}

/* Hide custom cursor on touch devices */
@media (pointer: coarse) {
    .custom-cursor {
        display: none;
    }
}

.text-gold-premium {
    background: linear-gradient(to bottom, #cfc09f 22%, #ffecb3 24%, #3a2c0f 26%, #99752d 27%, #ffecb3 40%, #bf953f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}