@import "tailwindcss";

/* hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

body,
a,
button,
input,
select,
textarea {
<<<<<<< HEAD
    /* cursor: none;  <-- TEMPORARILY DISABLED FOR DEBUGGING */
}

body {
    background-color: black;
    color: white;
=======
    cursor: none;
}

/* Hide custom cursor on touch devices */
@media (pointer: coarse) {
    .custom-cursor {
        display: none;
    }
>>>>>>> 4066b1cf8ee76aa7275ceb8d115491e00e02631a
}